<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>myServiceImpl</servlet-name>
    <servlet-class>com.delect.motiver.server.service.MyServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exerciseCountServlet</servlet-name>
    <servlet-class>com.delect.motiver.server.servlet.ExerciseCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>foodNameCountServlet</servlet-name>
    <servlet-class>com.delect.motiver.server.servlet.FoodNameCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>monthlySummaryServlet</servlet-name>
    <servlet-class>com.delect.motiver.server.servlet.MonthlyReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>backupServlet</servlet-name>
    <servlet-class>com.delect.motiver.server.servlet.BackupServlet</servlet-class>
  </servlet>
  

 
  <servlet-mapping>
    <servlet-name>myServiceImpl</servlet-name>
    <url-pattern>/motiver/myServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exerciseCountServlet</servlet-name>
    <url-pattern>/tasks/ecs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>foodNameCountServlet</servlet-name>
    <url-pattern>/tasks/fncs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monthlySummaryServlet</servlet-name>
    <url-pattern>/tasks/mss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>backupServlet</servlet-name>
    <url-pattern>/tasks/bs</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProdEagle</servlet-name>
    <servlet-class>com.prodeagle.java.servlets.HarvestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdEagle</servlet-name>
    <url-pattern>/prodeagle/*</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
    <web-resource-collection>
        <url-pattern>/app/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>*</role-name>
    </auth-constraint>
 </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
        <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
 </security-constraint>
 
 <session-config>
 	<session-timeout>30</session-timeout>
 </session-config>

</web-app>
